$primary: #6441A5;
$background: #f8f9fa;
$foreground: #ffffff;
$github: #212529;
$linkedin: #0077b5;

:export{
    primary: $primary;
    background: $background;
    foreground: $foreground;
    github: $github;
    linkedin: $linkedin;
}