$primary: #6441A5;
$background: #F5F8FF;
$foreground: #ffffff;
$github: #212529;
$linkedin: #0077b5;
$yellow: #FED267;

:export{
    primary: $primary;
    background: $background;
    foreground: $foreground;
    github: $github;
    linkedin: $linkedin;
    yellow: $yellow;
}