$primary: #6441A5;
$background: #F5F8FF;
$foreground: #ffffff;
$github: #4F455D;
$linkedin: #1374F6;
$yellow: #FED267;
$off-black: #575555;
$about-background: #300E50;
$about-foreground: #4A286A;
$about-content: #715C84;

:export{
    primary: $primary;
    background: $background;
    foreground: $foreground;
    github: $github;
    linkedin: $linkedin;
    yellow: $yellow;
    offBlack: $off-black;
    aboutBackground: $about-background;
    aboutForeground: $about-foreground;
    aboutContent: $about-content;
}